/bin/
/Block1.txt
/Block2.txt
/clockwise.txt
/Concave1.txt
/Concave2.txt
/Convex1.txt
/Convex2.txt
/Holes1.txt
/Holes2.txt
/InterCav1.txt
/InterCav2.txt
/InterCav3.txt
/Jigsaw1.txt
/Jigsaw2.txt
/Mink1.txt
/Mink2.txt
/Puzzle1.txt
/Puzzle2.txt
/Puzzle3.txt
/puzzle4.txt
/Rectangle1.txt
/Sawtooth1.txt
/Sawtooth2.txt
/SimpleFig1.txt
/SimpleFig2.txt
/triangle1.txt
/testsets/
